---
import Layout from "../layouts/Layout.astro";
import "../base.css";
import Nav from "../components/Nav";
import ClassList from "../components/ClassList";
---

<Layout title="Sewing and Quilting Academy - Sewing classes">
  <Nav />
  <main class="bg-medium-pink min-h-screen">
    <ClassList />
  </main>
</Layout>
