---
import Layout from "../layouts/Layout.astro";
import "../base.css";
import Nav from "../components/Nav";
import Form from "../components/Form";
---

<Layout title="Sewing and Quilting Academy - Sewing classes">
  <Nav />
  <main class="bg-medium-pink min-h-screen flex justify-center items-center">
    <Form />
  </main>
</Layout>
