---
import Layout from "../layouts/Layout.astro";
import "../base.css";
// import Image from "astro:assets";
// import grass from "../images/grass.JPG";
---

<Layout title="Sewing and Quilting Academy">
    <p class="p-8 underline-dotted">Hello world</p>

    <div class="test"></div>
    <div class="test2"></div>
    <div class="test3"></div>
    <div class="test4"></div>
    <div class="test5"></div>

    <!-- ???? does not work... -->
    <!-- <Image src={grass} alt="some grass"/> -->
</Layout>

<style>
    .test {
        width: 200px;
        height: 200px;
        /* background-color: hsl(329, 66%, 62%); */
        background-color: hsl(329, 55%, 57%);
    }

    .test2 {
        width: 200px;
        height: 200px;
        background-color: hsl(329, 53%, 62%);
    }

    .test3 {
        width: 200px;
        height: 200px;
        background-color: hsl(329, 52%, 68%);
    }

    .test4 {
        width: 200px;
        height: 200px;
        /* background-color: hsl(41, 96%, 40%); */
        /* background-color: hsl(41, 64%, 48%); */
        background-color: hsl(41, 65%, 51%);
    }

    .test5 {
        width: 200px;
        height: 200px;
        /* background-color: hsl(41, 57%, 51%); */
        /* background-color: hsl(41, 67%, 57%); */
        /* background-color: hsl(41, 57%, 54%); */
    }
</style>
