---
import Layout from "../layouts/Layout.astro";
import "../base.css";
import { Picture } from "astro:assets";
import grass from "../images/grass.jpg";
import Paragraph from "../components/Paragraph";
import Header from "../components/Header";
import HeroBlock from "../components/HeroBlock";
import TextBlock from "../components/TextBlock";
import ThreeImageBlock from "../components/ThreeImageBlock";
import ImageAndTextBlock from "../components/ImageAndTextBlock";
---

<Layout title="Sewing and Quilting Academy">
  <!-- <HeroBlock /> -->
  <TextBlock
    heading="Something"
    text="Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet,fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos."
  />

  <ThreeImageBlock />

  <div class="bg-medium-pink mb-10">
    <Header size="large" className="mb-12" fancy>
      Sewing and Quilting Academy
    </Header>
    <Paragraph>
      Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in
      faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis.
      Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque
      leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu
      massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac,
      pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at,
      elementum convallis elit. Pellentesque enim turpis, hendrerit. Lorem ipsum
      dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum
      facilisis. Class aptent taciti sociosqu ad litora torquent per conubia
      nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor
      fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros
      ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis
      non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at,
      euismod in lectus. Pellentesque habitant morbi tristique senectus et netus
      et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat
      maximus. Pellentesque aliquam maximus risus, vel sed vehicula. Interdum et
      malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis
      dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae
      egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id
      ipsum sit amet, fersapien risus, commodo eget turpis at, elementum
      convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum
      dolor.
    </Paragraph>
  </div>

  <div class="test bg-dark-pink"></div>
  <div class="test2 bg-medium-pink"></div>
  <div class="test3 bg-light-pink"></div>
  <div class="test4 bg-gold"></div>
  <div class="test5"></div>

  <!-- Unfortunately, we can't use my image wrapper and Astro's Image in the same file -->
  <!-- <Image src={cherry} alt="a flower" /> -->
  <!-- this will hopefully make astro render jpg's for old browsers
        though somehow my browser, which must support webp because the above tag works is displaying a jpg
        not sure what's happening -->
  <!-- removed the jpg because it looks like Astro automatically picks the right fallback format for the img tag at the end -->
  <Picture src={grass} formats={["avif", "webp"]} alt="some grass" />
</Layout>

<style>
  /* colors are important, do not delete */
  .test {
    width: 200px;
    height: 200px;
    /* background-color: hsl(329, 66%, 62%); */
    /* background-color: hsl(329, 55%, 57%); */
  }

  .test2 {
    width: 200px;
    height: 200px;
    /* background-color: hsl(329, 53%, 62%); */
  }

  .test3 {
    width: 200px;
    height: 200px;
    /* background-color: hsl(329, 52%, 68%); */
  }

  .test4 {
    width: 200px;
    height: 200px;
    /* background-color: hsl(41, 96%, 40%); */
    /* background-color: hsl(41, 64%, 48%); */
    /* background-color: hsl(41, 65%, 51%); */
  }

  .test5 {
    width: 200px;
    height: 200px;
    /* background-color: hsl(41, 57%, 51%); */
    /* background-color: hsl(41, 67%, 57%); */
    /* background-color: hsl(41, 57%, 54%); */
  }
</style>
