---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    Hello world
    <div class="test"></div>
</Layout>

<style>
    .test {
        width: 200px;
        height: 200px;
        background-color: hsl(329, 66%, 62%);
        background-color: hsl(329, 66%, 62%);
        background-color: hsl(329, 66%, 62%);
    }
</style>
