---
import Layout from "../layouts/Layout.astro";
import "../base.css";
import HeroBlock from "../components/HeroBlock";
import ThreeImageBlock from "../components/ThreeImageBlock";
import Nav from "../components/Nav";
import Classes from "../components/ClassSample";
---

<Layout title="Sewing and Quilting Academy">
  <Nav />
  <main>
    <HeroBlock />

    <ThreeImageBlock />

    <Classes />
  </main>
</Layout>

<style>
  /* colors are important, do not delete */
  .test {
    width: 200px;
    height: 200px;
    /* background-color: hsl(329, 66%, 62%); */
    /* background-color: hsl(329, 55%, 57%); */
  }

  .test2 {
    width: 200px;
    height: 200px;
    /* background-color: hsl(329, 53%, 62%); */
    /* color: hsl(329, 55%, 57%); */
  }

  .test3 {
    width: 200px;
    height: 200px;
    /* background-color: hsl(329, 52%, 68%); */
  }

  .test4 {
    width: 200px;
    height: 200px;
    /* background-color: hsl(41, 96%, 40%); */
    /* background-color: hsl(41, 64%, 48%); */
    /* background-color: hsl(41, 65%, 51%); */
  }

  .test5 {
    width: 200px;
    height: 200px;
    /* background-color: hsl(41, 57%, 51%); */
    /* background-color: hsl(41, 67%, 57%); */
    /* background-color: hsl(41, 57%, 54%); */
  }
</style>
