---
import Layout from "../layouts/Layout.astro";
import "../base.css";
import { Image, Picture } from "astro:assets";
import cherry from "../images/cherry.jpg";
import grass from "../images/grass.jpg";
---

<Layout title="Sewing and Quilting Academy">
    <p class="p-8 underline-dotted">Hello world</p>

    <div class="test bg-dark-pink"></div>
    <div class="test2 bg-medium-pink"></div>
    <div class="test3 bg-light-pink"></div>
    <div class="test4 bg-gold"></div>
    <div class="test5"></div>

    <Image src={cherry} alt="a flower" />
    <!-- this will hopefully make astro render jpg's for old browsers
        though somehow my browser, which must support webp because the above tag works is displaying a jpg
        not sure wha't happening -->
    <!-- removed the jpg because it looks like Astro automatically picks the right fallback format for the img tag at the end -->
    <Picture src={grass} formats={["avif", "webp"]} alt="some grass" />
</Layout>

<style>
    /* colors are important, do not delete */
    .test {
        width: 200px;
        height: 200px;
        /* background-color: hsl(329, 66%, 62%); */
        /* background-color: hsl(329, 55%, 57%); */
    }

    .test2 {
        width: 200px;
        height: 200px;
        /* background-color: hsl(329, 53%, 62%); */
    }

    .test3 {
        width: 200px;
        height: 200px;
        /* background-color: hsl(329, 52%, 68%); */
    }

    .test4 {
        width: 200px;
        height: 200px;
        /* background-color: hsl(41, 96%, 40%); */
        /* background-color: hsl(41, 64%, 48%); */
        /* background-color: hsl(41, 65%, 51%); */
    }

    .test5 {
        width: 200px;
        height: 200px;
        /* background-color: hsl(41, 57%, 51%); */
        /* background-color: hsl(41, 67%, 57%); */
        /* background-color: hsl(41, 57%, 54%); */
    }
</style>
